.card {
  height: 70vh;
  width: 90%;
  position: relative;

  @media screen and (min-width: 768px) {
    width: 60%;
  }

  @media screen and (min-width: 1024px) {
    width: 30%;
  }
}

.card:hover .front {
  transform: rotateY(180deg) perspective(600px);
}

.card:hover .back {
  transform: rotateY(360deg) perspective(600px);
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 36px;
  font-family: var(--font-lato);
  color: white;
}

.card h3 {
  font-weight: 600;
  margin-bottom: 18px;
  font-size: 16px;
  font-family: var(--font-lato);
  color: white;
}

.card p {
  margin: 0;
  opacity: 0.8;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-block-end: 8px;
  color: white;
}

.descriptionLarge {
  margin-bottom: 24px !important;
}

.badge {
  width: 400px;
  font-family: var(--font-lato);
  letter-spacing: 5px;
  text-transform: uppercase;
  height: 36px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -20px;
  background-color: black;
  color: white;
  left: -25px;
  clip-path: polygon(100% 0, 98% 50%, 100% 100%, 0 100%, 2% 50%, 0 0);
}

.badge p {
  font-size: 14px;
  margin-block-end: 0;
}

.logo {
  margin-block: 24px;
}

p.subheading {
  margin-block-end: 8px;
}

.front {
  transform: rotateY(0deg) perspective(600px);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 12px #25408f9d;

  padding: 16px;
  background: linear-gradient(
    180deg,
    var(--background-start),
    var(--background-end)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.8s;

  @media screen and (min-width: 768px) {
    padding: 24px;
  }
}

.back {
  transform: rotateY(180deg) perspective(600px);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 12px #25408f9d;
  padding: 16px;
  background: linear-gradient(
    180deg,
    var(--background-start),
    var(--background-end)
  );
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.8s;

  @media screen and (min-width: 768px) {
    padding: 24px;
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.09;

  background-position: bottom center;
  background-repeat: no-repeat;
  border-radius: var(--border-radius);
  z-index: -1;
}
