.main {
  background-color: #333;
  padding-block: 60px;
}

.container_inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
}




