.main {
  background-image: url("/backgroundLight.svg");
}

.container_inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
